[Desktop Entry]
Name=Librazik4
X-KDE-PluginInfo-Name=Librazik4
X-KDE-PluginInfo-Author=Elisa de Castro Guerra
X-KDE-PluginInfo-Email=dev@activ.studio
X-KDE-PluginInfo-License=GPLv2+
