Source: librazik-theme-kde
Section: x11
Priority: optional
Maintainer: Équipe LibraZiK <librazik@tuxfamily.org>
Uploaders: Olivier Humbert <trebmuh@tuxfamily.org>
Standards-Version: 4.3.0
Build-Depends: debhelper (= 13)
Homepage: https://librazik.tuxfamily.org/

Package: librazik-theme-kde
Architecture: all
Depends:
 ${misc:Depends}
Description: LibraZiK-4 - KDE Plasma theme
 This package contains the LibraZiK 4 theme for KDE Plasma desktop.
 .
 Documentation page : https://librazik.tuxfamily.org/doc4/paquets
 .
 LibraZiK audio studio package 2022 ©
